// Colors
$black-color: #000000;
$gray-color: #727272;
$light-gray-color: #ebebeb;
$white-color: #fff;

// Fonts
$base-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 4rem;

// Margins and padding
$small-spacer: 10px;
$medium-spacer: 20px;
$large-spacer: 30px;

// UI
$border-radius: 10px;
